<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<meta name="description" content="AdvertisingComputer - its about computer" />
	<meta name="keywords" content="computer, seller company online, hd" />
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<div class="main">
		
		<div class="header">
			<div class="logo">
				<div class="logo_text">
					<h1><a href="/">AdvertisingComputer</a></h1>
					<h2>Computer - the best Product</h2>
				</div>
			</div>
			
			<div class="menubar">
				
				<ul class="menu">
					<li ><a href="/">Home</a></li>	
					<!-- <li><a href="films.html"></a></li> -->
					<li><a href="/rating">Maintenance</a></li>
					<li><a href="/films">films</a></li>
					<li><a href="/image">Images</a></li>
					<li><a href="/contact">Contacts</a></li>
					<li class="selected"><a href="/about">About</a></li>
					<li><a href="/users/register">Register or Login</a></li>
				</ul>

			</div>

		</div>

			
		





	<div class="footer">
		<p>
			<a href="/index">Home Page</a> |
			<!-- <a href="films.html">Home</a> |  -->
			<a href="/about">About</a> |
			<a href="/rating">Maintenance</a> |
			<a href="/contact">Contacts</a>
		</p>
		<p>copy@right</p>
	</div>

	</div>
	
</body>
</html>
