<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>contact</title>
	<meta name="description" content="AdvertisingComputer - its about Computer" />
	<meta name="keywords" content="Computers, seller company online, hd" />
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<div class="main">
		
		<div class="header">
			<div class="logo">
				<div class="logo_text">
					<h1><a href="/">AdvertisingComputer</a></h1>
					<h2>Computers - our best Product</h2>
				</div>
			</div>
			
			<div class="menubar">
				
				<ul class="menu">
					<li ><a href="/">Home</a></li>	
					<!-- <li><a href="films.html"></a></li> -->
					<li><a href="/rating">Maintenance</a></li>
					<li><a href="/films">films</a></li>
					<li><a href="/image">Images</a></li>
					<li class="selected"><a href="/contact">Contacts</a></li>
					
					<li><a href="/users/register">Register or Login</a></li>
				</ul>

			</div>

		</div>

			
		<div class="site_content">
			
			<div class="sidebar_container">
				
			

				<div class="sidebar">
					<h2>Computer jurgement</h2>
					<ul>
						<li><a href="show.html">Packardbell</a><span class="rating_sidebar">AMD</span></li>
						<li><a href="#">Dell</a><span class="rating_sidebar">Core</span></li>
						<li><a href="#">Hp</a><span class="rating_sidebar">Intel</span></li>
						<li><a href="#">Accer</a><span class="rating_sidebar">Dual</span></li>
						<li><a href="#">Macbook</a><span class="rating_sidebar">Smart</span></li>
						<li><a href="#">Ipad</a><span class="rating_sidebar">Tatch</span></li>
					</ul>
				</div>

			</div>

			<div class="content">
				
				<h1>Contacts</h1>
				
				<div class="row">
					<div class="col-md-6">
						<h3>QQ</h3>
						<img src="qq.png">
					</div>
					<div class="col-md-6">
							<h3>Wechat</h3>
							<img src="wechat.jpg" style="align-content: center;" >
						</div>
				</div>


			

			</div>

		</div>





	<div class="footer">
		<p>
			<a href="/index">Home </a> |
			<!-- <a href="">Home</a> |  -->
			<a href="/films">Maintenance</a> |
			<a href="/rating">Computer jurgement</a> |
			<a href="/contact">Contacts</a>
		</p>
		<p>2017050010</p>
	</div>

	</div>
	
</body>
</html>